.tool-versions
/.rspec_status
/.bundle/
/.overcommit.yml
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/dummy/log/*
/spec/dummy/tmp/*
/tmp/
/gemfiles/*.lock
/gemfiles/.bundle
/spec/dummy/tmp/cache/*
/spec/dummy/log/*
